<!--
  Generated template for the HomeDeliveryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{shopname}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="baycar()">
        <img [src]="shopcar" class="img-header" />
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-item class="shop-items">
      <img [src]="toreface" class="shop-img_class" item-left onerror="javascript:this.src='assets/img/bm_imge@2x.png';" />
      <div class="shop-header">军坤24小时便利店(军坤便利店)<span>|</span><img class="shop-callimg" [src]='callimg' /></div>
      <span class="shop-store-distance">0.7公里</span>
      <div class="shop-item-address">20元起 1公里免费送 <span class="item-ganzhu">已关注</span></div>
    </ion-item> -->
  <div class="center-myInput">
    <img [src]="shousuo_img" />
  </div>
  <div class="banner-img">
    <img [src]="banner" item-left onerror="javascript:this.src='assets/img/bm_imge@2x.png';" />
  </div>

  <!-- <div class="shop-mine">
      <span class="mine-sp1">2017年终大促销！全场精美商品1折起，全场任你挑</span>
      <span class="mine-sp2">共4条优惠</span>
    </div> -->

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-3 class="menus">
        <ion-scroll scrollY="true" style="height:100%">
          <ion-list no-lines>
            <ion-item (click)='menu(c)' button class="menuItem" *ngFor="let c of categories;let i=index" [ngClass]="{'active': i==0}"
              text-center (click)="itemClick(c,$event)">

              <!-- <marquee loop='' direction="left" align="bottom"  width="64" onmouseout="this.start()" onmouseover="this.stop()" 
              scrollamount="2" scrolldelay="1">  -->
                {{c.categoryname}} 
              <!-- </marquee> -->
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-col>

      <ion-col class="items">
        <ion-scroll scrollY="true" #scroll style="height:100%">
          <ion-list no-lines class="good-list">


            <ion-item class="item" *ngFor="let item of guessLikeShops" (click)='gonext(item)'>
              <img [src]="faceurl_900+item.goodsInfo.goodsface" class="img_class" item-left onerror="javascript:this.src='assets/img/bm_imge@2x.png';"
              />
              <div class="item-header">{{item.goodsInfo.goodsname}}</div>
              <div class="mianfei">20元起免费送</div>
              <div class="item-discounts">
                <div class="">
                  <span class="item-right">{{'￥'+item.goodsInfo.sellprice/100}}</span>
                  <span class="distance">{{item.distance}}</span>
                </div>

                <!-- <div class="count-block" *ngIf='item.goodsInfo.moreRule'>
                  <p class="count">
                    <span (tap)='reduce(item)'>-</span>
                    <input type="number" class="count-number" [(ngModel)]="item.count" />
                    <span (tap)='add(item)'>+</span>
                  </p>
                </div>
                《后期复用，别删除！》
                <div class="moreRule" *ngIf='!item.goodsInfo.moreRule'>
                  已选9件
                  <span (click)='rules()'>多规格可选</span>
                </div> -->

              </div>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- 《后期复用，别删除！》 -->
<!-- <ion-footer class="footer-call-madal tabbar show-tabbar">
    <ion-grid class="grid-call-modal">
      <ion-row center>
        <ion-col (tap)="goShop()">
          <img [src]='shopcarimg' class="img-footer" />
          <p class="footer-txt">购物车</p>
        </ion-col>
        <ion-col col-5 (tap)='goCart()'>
         
          
          <p class="footer-txt songhuo"><span class="price">{{'￥'+payPrice/100}}</span><br>还差10元免费送货</p>
  
        </ion-col>
        <ion-col col-4 (tap)="addToCart()" class="add-to-cart">
          <p>去结算</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
  </ion-footer> -->