page-points-exchange {
    // #efeff4
    .points-exchange-content{
        background-color: #efeff4;
        color: #333333;
    }
    .points_exchange_title{
    height: 83px;
    padding-left: 21px;
    padding-top: 33px;
    background-color:#ffffff;
}
.points_exchange_title p{
    font-size: 19px;
    color:#fb6d07;
    margin: 0;
    padding: 0;
}
.menu_info{
    margin-top: 15px;
    // height: 70px;
    font-size: 15px;
    padding-left: 21px;
    padding-top: 15px;
    background-color:#ffffff; 
}
.menu_cost{
    margin-top: 15px;
    padding-bottom: 15px;
}
.price{
    color: #fb6d07;
}
.menu_des{
    background-color:#ffffff; 
    padding-left: 21px;
    padding-top: 13px;
    font-size: 14px;
    // color: #333333;
}
.menu_des_detail{
    padding-left: 19px;
    padding-bottom: 30px;
    padding-right: 19px;
}
.menu_des_detail p{
    padding: 2.5px;
    font-size: 11px;
    margin: 0;
}
}
.my-hr{
    
    height: 1px;
    background-color: #c9c9c9;
} 